.section.contact {
  
  background: image-url('contact-bg_01.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  
  p a {
    color: $red;
    &:hover {
      color: white;
    }
  }
  
  .row-down {
      margin-top: 50px;
      &.active {
          margin-top: 0px;
      }
      @include transition(all .7s ease-out);
  }
  
}
